@import url("https://cdn.jsdelivr.net/npm/modern-normalize@2.0.0/modern-normalize.css");

:root {
  --bg: white;
  --color-main: #111111;
  --hero-text: white;
  --dark-gray-text: #4B4B4B;
  --gray-accent: #D9D9D9;
  --blue-bg: rgba(0, 0, 255, 0.5);
  --green-bg: rgba(0, 128, 0, 0.5);
  --yellow-bg: rgba(255, 255, 0, 0.5);
  --red-bg: rgba(255, 0, 0, 0.5);
  --task-status-green: #00ce0023;
  --task-status-red: #ce00002f;
  line-height: 1.5;
}

:root.dark {
  --bg: #1D1D1D;
  --color-main: white;
  --hero-text: white;
  --dark-gray-text: #E4E4E4;
  --gray-accent: #0e0e0e;
  --blue-bg: rgba(124, 124, 255, 0.5);
  --green-bg: rgba(123, 255, 123, 0.5);
  --yellow-bg: rgba(255, 255, 128, 0.5);
  --red-bg: rgba(255, 120, 120, 0.5);
  --task-status-green: #00ff0056;
  --task-status-red: #ff000052;
  line-height: 1.5; 
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  font-family: "Hanken Grotesk";
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

h1,
h2 {
  color: var(--color-main);
  font-weight: 700;
}

h1 {
  font-size: 2rem;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}


img {
  display: block;
  max-inline-size: 100%;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10%;
  margin: auto 0 0.5rem 0;
  color: var(--color-main);
  font-size: 0.8rem;
  font-weight: 500;
}

footer > a {
  margin-top: 1rem;
}

footer > a > img {
  height: 1.5rem;
}
