@import url("https://cdn.jsdelivr.net/npm/modern-normalize@2.0.0/modern-normalize.css");

:root {
  line-height: 1.5;
}

* {
  font-family: "Hanken Grotesk";
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

h1,
h2 {
  color: #111111;
  font-weight: 700;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.3rem;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

button {
  cursor: pointer;
}


img {
  display: block;
  max-inline-size: 100%;
}
