body {
  background-color: var(--bg);
  margin: 3% 5%;
}

h2 {
  font-size: 1.6rem;
  font-weight: 800;
}

p,
ul {
  color: var(--color-main);
  font-weight: 400;
  font-size: 1rem;
}

.section-divider {
  background-color: var(--gray-accent);
  height: 3px;
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 6rem 0;
  overflow: hidden;
}

.home-btn {
  width: fit-content;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  padding: 0;
}

.home-arrow {
  cursor: pointer;
}

.list-info {
  margin-top: 5rem;
}

.weather,
.date {
  color: var(--dark-gray-text);
  font-weight: 400;
  font-size: 1rem;
  margin: 1rem 0;
}


.task-container,
.add-task-container,
.note-container,
.add-note-container {
  display: grid;
  grid-template: 1fr / 0.5fr 10fr 1fr;
  gap: 1rem;
  margin: 2rem 0 0 0.2rem;
  padding: 1rem;
  border-radius: 15px;
  transition: background-color ease-out 0.33s;
  z-index: 0;
}

.task-container:hover,
.add-task-container:hover,
.note-container:hover,
.add-note-container:hover {
  background-color: rgba(255, 255, 255, 0.082);
}


.task-container,
.add-task-container {
  align-items: center;
  text-align: left;
  font-size: 1rem;
  font-weight: 400;
}

.task-status-btn,
.add-task-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid var(--color-main);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  overflow: hidden;
}

.task-icon {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.192));
}

.completed-task {
  background-color: var(--task-status-green);
}

.incomplete-task {
  background-color: var(--task-status-red);
}

.completed-task-dark-mode {
  border: 1px solid #00FF00 !important;
}

.incomplete-task-dark-mode {
  border: 1px solid #FF0000 !important;
}

.add-task-btn {
  background-color: #D6F3FF;
}

.add-task-btn-dark-mode {
  border: 1px solid #0084FF !important;
}

.note-list {
  padding: 0 0 6rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.bullet-point {
  display: flex;
  align-self: flex-start;
  background-color: var(--color-main);
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin: 1rem 0 0 0.3rem;
}

.note,
.add-note {
  overflow: hidden;
  width: 100%;
  list-style-position: inside;
}

.add-task,
.add-note {
  font-style: italic;
}

.add-task:focus,
.note-span:focus,
.add-note-span:focus {
  font-style: normal;
}

.title {
  font-size: 2.3rem;
  font-weight: 800;
  position: relative;
  padding: 0.5%;
  margin: -0.5% 5% 1% 2%;
  left: -2%;
  cursor: pointer;
}

.task-name,
.add-task,
.note-span,
.add-note-span {
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  font-weight: 400;
  overflow: hidden;
}

.note-span,
.add-note-span {
  display: block;
  border: 1px solid rgba(255, 255, 255, 0);
}

.note-span:focus,
.add-note-span:focus {
  outline: none;
  border: 1px solid white;
  border-radius: 5px;
}
  

.add-note-span {
  display: flex;
  width: 100%;
}

li::marker {
  font-size: 1.5em;
  font-weight: 800;
}

.delete-btn {
  display: flex;
  background-color: rgba(255, 255, 255, 0);
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  cursor: pointer;
  margin-left: auto;
  align-self: center;
  justify-content: center;
  align-items: center;
}

@media (min-width: 800px) {
  .task-container,
  .add-task-container,
  .note-container,
  .add-note-container {
    grid-template: 1fr / 0.5fr 15fr 1fr;
    gap: 1rem;
    margin: 3rem 0 0 0.5rem;
  }

  .title {
    font-size: 3rem;
    margin: calc(1.5rem - -0.5%) 5% 1% 2%;
  }

  h2 {
    font-size: 2rem;
  }

  p,
  .note-span {
    font-size: 1rem !important;
  }

  .task-status-btn,
  .add-task-btn,
  .delete-btn {
    width: 23px;
    height: 23px;
  }

  .task-container,
  .add-task-container,
  .note-container,
  .add-note-container {
    padding: 1rem;
  }
}

@media (min-width: 1100px) {
  .task-container,
  .add-task-container,
  .note-container,
  .add-note-container {
    grid-template: 1fr / 0.5fr 15fr 1fr;
    gap: 0.5rem;
    margin: 3rem 0 0 0.5rem;
  }

  p,
  .note-span {
    font-size: 1.2rem !important;
  }
}